@model ProyectoBiblioteca.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">¿Eliminar Categoria?</h2>


<div>
    <h4 class="colortitulo">Datos</h4>
    <hr />
    <div class="container">
        <dl class="dl-horizontal">
            <dt class="colortitulo">
                Nombre de la Categoria
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria1)
            </dd>

        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*Botón de Eliminar*@
            <button type="submit" style="background-color:rgba(255, 106, 0, 0.75); " title="Eliminar Categoria" class="btn-lg col-xs-offset-1 col-xs-2 far fas fa-trash"></button>
            <br /><br /><br />
            <button class="btn btn-lg btn-primary" title="Regresar al Listado">
                @Html.ActionLink("   ", "Index", null, new { @class = "fas fa-chevron-circle-left" })
            </button>
            @*Botón de Eliminar*@
        </div>
        @*Div de Notificacion al eliminar*@
        <h3 class="text-danger">
            <span style="background-color:rgba(255, 0, 0, 0.05)">@ViewBag.ErrorEliminar</span>
        </h3>
        @*Div de Notificacion al eliminar*@
    }
</div>
